.text-area-container {
  width: 940px;
  margin: 0 auto; /* center horizontally like .game-container */
  background-color: #4c6070;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
}

#text-title {
  font-weight: normal;
}

.rules-and-guidelines {
  color: rgb(201, 196, 196);
  font-size: small;
}

#user-text-area {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
}

#user-review-profile-pic {
  max-height: 8rem;
  max-width: 8rem;
  border: 0.1rem solid rgb(112, 111, 111);
}

#profile-pic-container {
  margin: 0 2rem;
}

#text-area {
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 0 2rem 0 0;
}

#text {
  height: 100%;
  width: 100%;
  background-color: #192936e7;
  border: 1.5px solid black;
  color: rgb(201, 196, 196);
  resize: none;
}

#button-row {
  display: flex;
  justify-content: space-between;
}

.review-button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #4881c7;
  color: #c7d5e0;
  cursor: pointer;
  border: none;
  margin-right: 0.6rem;
  display: inline-flex;
  align-items: center;
}

#text-title {
  color: #5da0f1;
}

#recommend-text {
  color: rgb(201, 196, 196);
  font-size: small;
}

.user-profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.disabled-button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #4881c72f;
  color: #c7d5e0;
  border: none;
  margin-right: 0.3rem;
}

.selected {
  box-shadow: 0rem 0rem 0.2rem 0.2rem rgb(201, 196, 196);
}

.delete-button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #15365f;
  color: #c7d5e0;
  cursor: pointer;
  border: none;
  margin-right: 0.6rem;
  display: inline-flex;
  align-items: center;
}
