.featured-games-menu {
    display: block;
    min-height: 20rem;
    margin: 0 auto;
    padding: 2rem 1.5rem 0 1.5rem;
}
  
  .gameSlide {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
    max-width: 1200px;
    height: 24rem; 
    gap: 1rem;
  }
  
  .gameSlide:hover {
    cursor: pointer;
  }
  
  .gameShadow {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: #0a111a;
  }
  
  #container {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    gap: 3rem;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .button-container {
    position: relative;
  }
  
  .left-slide-button,
  .right-slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .left-slide-button {
    left: 6rem;
  }
  
  .right-slide-button {
    right: 6rem;
  }
  
  .store-page {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1b2838, #2a475e);
    color: #c7d5e0;
  }
  
  .game-image-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game-info-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
  
  .game-image {
    height: 17.8rem;
    max-height: 100%;
    width: auto;
    object-fit: fill;
    padding: 1rem;
  }
  
  .subImage {
    width: 200px;
    height: auto;
    display: block;
  }
  
  .subContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: fit-content;
    max-width: 1200px;
  }
  