.game-page-background {
    min-height: 100vh;
    background: linear-gradient(
        to bottom right,
        #1b2838,
        #2a475e
      );
    color: #c7d5e0;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
  padding-top: 3rem;
  height: 534px;
  background: linear-gradient(
    300deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.game-title {
  font-size: 35px;
}

.game-image {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.primary-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  max-height: 400px;
}

.secondary-image-container {
  display: flex;
  flex-direction: column;

  margin-left: auto;
}

.mini-image-container {
  display: flex;
  scroll-behavior: smooth;
  width: 100%;
  gap: 8px;
  max-width: 624px;
  overflow: auto;
  overflow-x: hidden;
}

.primary-game-image {
  width: 624px;
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.secondary-game-image {
  width: 300px;
  height: 120px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mini-images {
  flex: 0 0 auto;
  width: 120px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}

.game-description {
  margin-top: 10px;
  font-size: 15px;
}

.game-genre {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
}

.game-developer {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
}

.game-publisher {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
}

.create-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
  margin-top: 2%;
  height: 350px;
  background: linear-gradient(
    300deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.thumbnail-carousel-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 624px;
  margin-top: 16px;
}

.side-scroll-arrow {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  cursor: pointer;
}

.carousel-scroller {
  display: flex;
  width: 100%;
  margin-top: 8px; 
  justify-content: space-between;
}

.reviews-container {
  width: 940px;
    margin: 0 auto; /* center horizontally like .game-container */
    margin-top: 2rem;
    background-color: #4c6070;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
}

.review-item {
  background-color: #6a8396;  /* slightly lighter/different from container */
  border: 1px solid #324352;  /* subtle border */
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}