.game-page-background {
  min-height: 100vh;
  background: #1b2838;
  /* background: linear-gradient(to bottom right, #1b2838, #2a475e); */
  color: #c7d5e0;
}

/* .game-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.rest-of-page{
  margin-top: -25em;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* width: 940px; */
  width: 65vw;
  margin: 0 25%;
  /* padding-top: 3rem; */
  padding: 0em 0em 30em;
  /* justify-content: flex-start; */
  /* height: 545px; */
  height: 65vh;
  /* position: absolute; */
}

.long-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-title {
  font-size: 35px;
  margin-bottom: 75px;
  margin-left: 16px;
}

.game-image {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.primary-game-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  max-height: 400px;
  justify-content: flex-end;
}

.primary-game-container > video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.mini-image-container {
  display: flex;
  scroll-behavior: smooth;
  width: 100%;
  gap: 8px;
  max-width: 624px;
  overflow-x: hidden;
}

.primary-game-image {
  width: 624px;
  min-height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-detailed-information-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin-top: -5rem;
}

.about-header {
  width: 940px;
  margin: 1em auto -0.25em;
}

.secondary-game-image {
  width: 300px;
  height: 120px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.mini-images {
  flex: 0 0 auto;
  width: 120px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}

.short-game-description {
  margin-top: 0.5rem;
  font-size: 15px;
  color: white;
  width: 95%;
}

.game-genre {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
  display: flex;
}

.game-developer {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
  display: flex;
}

.game-publisher {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
  display: flex;
}

.game-review-sentiment {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
  display: flex;
}

.review-sentiment {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
  display: flex;
}

.game-description-value {
  color: #90d5ff;
  margin-left: 0.25rem;
}

.create-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
  margin-top: 2%;
  height: 350px;
  background: linear-gradient(
    300deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.thumbnail-carousel-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 624px;
  margin-top: 16px;
}

.side-scroll-arrow {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  cursor: pointer;
}

.carousel-scroller {
  display: flex;
  width: 100%;
  margin-top: 8px;
  justify-content: space-between;
}

.reviews-container {
  width: 940px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #4c6070;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
}

.review-item {
  background-color: #6a8396;
  border: 1px solid #324352;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.review-header-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}

.not-helpful {
  background-color: #550000;
  color: #ff474c;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  padding: 6px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  transition: background-color 0.2s ease;
}

.review-date {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #c7d5e0cc;
}

.review-comment {
  font-size: 1rem;
  color: white;
  white-space: pre-wrap;
}

.review-profile-pic-container {
  display: flex;
  justify-content: flex-start;
}

.review-profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border: 1px solid #324352;
  display: flex;
}

.reviewer-username {
  margin-left: 1rem;
  justify-content: center;
}

.recommendation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game-video {
  width: 625px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.blur-container {
  filter: blur(7px);
}

#no-user-message {
  position: absolute;
  height: 17em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 20px;
  z-index: 10;
}

.login-review-area {
  color: white;
}

.game-detailed-description {
  max-height: 900px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease;
}

.game-detailed-description.expanded {
  max-height: none;
}

.game-detailed-description-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.see-more-btn {
  background: none;
  border: none;
  color: #3f80f0;
  cursor: pointer;
  margin: 1em 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  font-size: 16px;
}

.comment-icon-wrapper {
  display: flex;
  align-items: center;
}

.speech-bubble {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
}

.total-comments {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.line-break {
  border: none;
  border-top: 2px solid #90d5ff;
  margin: 0;
  margin-top: 5rem;
}

.community-link-container {
  display: flex;
  justify-content: space-around;
}

.community-link-container a {
  text-decoration: none;
  border: 1px white solid;
  padding: 0.4em;
  color: white;
  background-color: #3f80f0;
  font-size: 1rem;
}

.add-to-cart-container {
  display: flex;
  background: linear-gradient(to right, #213145, #2a475e);
  padding-left: 1.5em;
  padding-right: 1em;
  justify-content: space-between;
  width: 30vw;
  position: relative;
}

.floating-div {
  display: flex;
  background-color: rgb(19, 19, 19);
  height: fit-content;
  padding: 0.25em 0.15em;
  margin-top: 2.7em;
  margin-left: 20em;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.cart-button {
  border-radius: 3px;
  background-color: rgb(12, 133, 12);
  padding: 0.25em;
  margin-left: 0.25em;
}

.cart-button a {
  text-decoration: none;
  color: white;
}

.community-button {
  border-radius: 3px;
  background-color: rgb(12, 107, 133);
  padding: 0.25em;
}

.community-cart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: -2em auto 5em;
  max-width: 80vw;
}

.community-cart-container a {
  text-decoration: none;
  color: white;
}
