.sign-in-window{
    display: grid;
    padding: 3% 0% 3% 3%;
    border-radius: 3px;
    background-color: #101419;
    color: rgb(223, 216, 207);
    font-size: small;
    grid-template-columns: 1.5fr .5fr;
    height: auto;
}

.sign-in-header{
    display: flex;
    margin: 10% 0 0 0;
}

.user-creds{
    display: flex;
    flex-direction: column;
}

.divider{
    border-right: 1px solid rgb(223, 216, 207);
    padding-right: 5%;
}

.sign-in-input{
    width: 95%;
    padding: 2%;
    margin: 2% 0;
    background-color: #1f2730;
    color: rgb(223, 216, 207);
    border: 0px;
    border-radius: 3px;
}

.sign-in-input:focus {
    outline: none;
}

.remember-me{
    display: flex;
    margin: 3% 0;
    justify-items: center;
    align-self: center;
}

h1{
    font-weight: bold;
    color: rgb(223, 216, 207);
}

.sign-in-body{
    display: flex;
    flex-direction: column;
    height: 70%;
    flex: 1;
    padding: 0 32%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: 
    linear-gradient(to left, rgba(26, 26, 26, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(26, 26, 26, 1), rgba(0, 0, 0, 0)),
    url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/Header_1.jpg');
}

.form-login{
    border: none;
    height: 2.5rem;
    background-color: rgb(29, 72, 137);
    padding: 0px auto;
    width: 15rem;
    align-self: center;
    color: rgb(223, 216, 207);
    border-radius: 3px;
}

.demo-login{
    border: none;
    height: 1.5rem;
    background-color: rgb(29, 72, 137);
    margin: 7% 0px;
    width: 7rem;
    align-self: center;
    color: rgb(223, 216, 207);
    border-radius: 3px;
}

.form-login:hover{
    background-color: rgb(40, 95, 177);
}

.demo-user-sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #131c27;
    height: 20%;
    padding-left: 35%;
    padding-right: 35%;
}

.new-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(223, 216, 207);
}

.new-user-button{
    border: none;
    height: 1.5rem;
    background-color: rgb(29, 72, 137);
    margin: 3% 0px 5%;
    width: auto;
    align-self: center;
    color: rgb(223, 216, 207);
    border-radius: 3px;
    height: 2.5rem;
}

.new-user-button > a{
    text-decoration: none;
    color: rgb(223, 216, 207);
}

.learn-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(223, 216, 207);
}

.learn-more > a{
    color: rgb(223, 216, 207);
}
