.nav-bar {
  background: #131c27;
  height: 123px;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-logo-section {
  display: flex;
  align-items: center;
  position: relative;
}

.diamond-icon {
  font-size: 3rem;
  color: white;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.nav-title {
  text-decoration: none;
  font-family: var(--body-font);
  font-size: 30px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.8px;
  font-variant: small-caps;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 38px;
  margin: 0;
  padding: 0;
  height: 39px;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-variant: small-caps;
  display: flex;
  align-items: flex-end;
  height: 39px;
}

.nav-login-section {
  display: flex;
  align-items: center;
  height: fit-content;
  color: white;
}

.login-link > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 0.6px;
}
